snippet fn "Function"
function ${1:name}($2)
{
	$0
}
endsnippet

snippet pubfn "Public function"
public function ${1:name}($2)
{
	$0
}
endsnippet

snippet docbloc "Document comment block"
/**
 * $1
 */
endsnippet
